<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link href="{{ url_for('static', filename= 'styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <div class = "border">
        <header>
            <h1>Movie Mood Matcher</h1>
            <h3>Return a word in the box and we'll find a movie that closely matches</h3>
        </header>
        <form action="/movie" method="get">
            <input type="text" id="bar" name="bar" autocomplete="off">
        </form>
        </div>
</body>
</html>